* {
    margin: 0;
    padding: 0;
}

.con-1 {
    margin-top: 50px;
}

ul>li {
    list-style: none;
}

.sidebar {
    background: salmon;
    height: 1000px;
}
.content {
    background: lightblue;
    height: 1000px;
}


.logo {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.logo:hover {
    text-decoration: none;
    color: #333;
}
.active a {
    color: #fff;
}