<!DOCTYPE html>
<html lang="en" ng-app="ngless">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ngless</title>
</head>
<body ng-controller="MainCtrl">
    <!--  -->
    <div class="container con-1">
        <div class="row">
            <div class="col-md-4 sidebar">
                    <a href="" class="logo" ng-click="setCurrentCategory(null)"><h3>Ngless</h3></a>
                <ul>
                    <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                        <a href="" ng-click="setCurrentCategory(category)">{{ category.name }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-8 content">
                <ul>
                    <li ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
                        <button type="button" class="close">&times;</button>
                        <button type="button" class="btn btn-link" ng-click="startEditing();"><span class="glyphicon glyphicon-pencil"></span></button>
                        <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                    </li>
                </ul>
                <!-- Create -->
                <div ng-if="shouldShowCreating()">
                    <button type="button" class="btn btn-link" ng-click="startCreating();">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create Bookmark
                    </button>
                    <div ng-if="isCreating">
                        Create a bookmark!
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancelCreating()">Cancel Crating</button>
                    </div>
                </div>
                <hr>
                <!-- Editing -->
                <div ng-if="shouldShowEditing()">
                    Edit a bookmark
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancelEditing()">Cancel Editing</button>
                </div>
            </div>
        </div>
    </div>


    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.js"
    integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>